<div class="drawer-side z-50">
  <button for="app-sidebar-checkbox" aria-label="close sidebar" class="drawer-overlay" id="app-sidebar-overlay"></button>
  <div class="bg-base-200 min-h-full w-80 p-4">
    <!-- Close button -->
    <div class="flex justify-end mb-4">
      <button
        type="button"
        id="app-sidebar-close-button"
        class="btn btn-ghost btn-sm btn-circle"
        aria-label="Close menu"
      >
        <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
    <!-- Navigation links -->
    <ul class="menu">
      <li>
        <a href="#">Register</a>
      </li>
      <li>
        <a href="#">Login</a>
      </li>
    </ul>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const closer = document.getElementById('app-sidebar-close-button');
    const overlay = document.getElementById('app-sidebar-overlay');

    function emitCloseEvent() {
      const event = new CustomEvent('rue-des-oiseaux:app-sidebar', {
        detail: {
          action: 'close'
        }
      });

      document.dispatchEvent(event);
    }

    closer.addEventListener('click', emitCloseEvent);
    overlay.addEventListener('click', emitCloseEvent);
  });
</script>

